*{
    margin: 0px;
    padding: 0px;
}
header{
height: 70px;
background-color: black;
margin-bottom: 20px;
  }

.a{
    color: white;
    text-decoration: none;
    position: absolute;
    top:40px;
    left: 30px;
}
h1{
    color: white;
    position: absolute;
    top: 20px;
    left: 250px;
}
.image_one{
    display: block;
    position: absolute;
    left: 1100px;   
 }

 h2{
     width: 100%;
    text-align: center;
 }

.block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("image_two.jpg");
    background-repeat: no-repeat;
    background-size: 300px 755px;
    height: 750px;
    
}

.block1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start ;
    height: 750px;
    width: 300px;
    margin-left: 300px;
}


.block2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start ;
    height: 750px;
    width: 300px;
    margin-left: 20px;
}

.block3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start ;
    height: 750px;
    width: 300px;
    margin-left: 20px;
}



.list{
    text-align: center;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin-left: 50px;
    margin-top: 20px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

.list h3{
    margin-top: 10px;
}
.list p{
    margin-top: 15px;
}

.image_list{
    margin-left: 150px;
    margin-top: 110px;
}

footer{
    height: 50px;
    background-color: black;
    position: relative;    
}

.footer_text{
    display: block;
    position: absolute;
    top: 20px;
    left: 500px;
    color: white;
}

